<% include partials/header %>

<h1>
    <%= user.displayName %> - Profil
</h1>
<h4><%= user.email%></h4>
<hr>
<h5>Vos informations</h5>
<p>Nom public: <%= user.displayName %></p>
<p>Nom d'utlisateur: <%= user.username %></p>
<p>Crée le: <%= user.createdAt %></p>
<p>Email: <%= user.email %></p>
<hr>
<h5>Mes chansons favoris</h5>
<ul>
    <% songs.forEach(function(song) {%>
    <li>
        <a href="/songs/<%=song._id%>"><%= song.title%></a> | <%= song.artist%> |
        <form method="post" action="/users/favorite/<%=song._id%>?_method=delete">
            <button type="submit">Supprimer des favoris !</button>
        </form>
    </li>
    <% }) %>
    <% if(songs) {%>
        <li>
            <form method="post" action="/users/favorite?_method=delete">
                <button type="submit">Supprimer tout !</button>
            </form>
        </li>
    <% }%>
</ul>
<hr>
<h5>Vos amis</h5>
<ul>
    <% relationships.friends.forEach(function(relation) { %>
    <li>
        <a href="/users/<%= relation.friend_id%>"><%= relation.friend_name %></a>
        <form action="/relationships/<%=relation._id%>?_method=delete" method="post">
            <button type="submit">Supprimer</button>
        </form>
    </li>
    <% }) %>
</ul>
<hr>
<h5>Ils veulent vous ajouter</h5>
<ul>
    <% relationships.gottaAnswer.forEach(function(relation){%>
    <li>
        <a href="/users/<%= relation.friend_id%>"><%= relation.friend_name %></a>

        <form action="/relationships/<%=relation._id%>?_method=put" method="post">
            <button type="submit">Accepter</button>
        </form>
        |
        <form action="/relationships/<%=relation._id%>?_method=delete" method="post">
            <button type="submit">Refuser</button>
        </form>
    </li>
    <%})%>
</ul>
<hr>
<h5>Vous voulez les ajouter</h5>
<ul>
    <% relationships.pendings.forEach(function(relation){%>
    <li>
        <a href="/users/<%= relation.friend_id%>"><%= relation.friend_name %></a>
        <form action="/relationships/<%=relation._id%>?_method=delete" method="post">
            <button type="submit">Annuler</button>
        </form>
    </li>
    <%})%>
</ul>
<hr>
<% include partials/footer %>