<% include partials/header %>

<h1>
    <%= songs.length %> chansons
</h1>

<form id="search_form" action="/songs" method="get">
    <label for="search">
        Filtrer Par:
    </label>
    <select id="search" style="display: block;" name="search_type">
        <option value="title">Title</option>
        <option value="album">Album</option>
        <option value="artist">Artist</option>
        <option value="year">Year</option>
        <option value="bpm">BPM</option>
    </select>

    <input name="search_field" type="text" placeholder="Votre recherche"/>

    <button type="submit">Rechercher</button>
</form>

<table class="highlight striped ">
    <thead>
        <th>Title</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Year</th>
        <th>BPM</th>
        <% if (user_admin) { %>
        <th>Gestion</th>
        <% } %>

    </thead>
    <% songs.forEach(function(song) {%>
        <tr>
            <td>
                <a href="/songs/<%=song._id%>"><%=song.title%></a>
            </td>
            <td><%=song.album%></td>
            <td><%=song.artist%></td>
            <td>
                <% if (song.year) { %><%=song.year%><% } %>
            </td>
            <td>
                <% if (song.bpm) { %><%=song.bpm%><% } %>
            </td>
            <% if (user_admin) { %>
            <td>
                <a href="/songs/edit<%= song._id%>">Editer</a>
                |
                <form method="post" action="/songs/<%=song._id%>?_method=delete">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
            <% } %>
        </tr>
    <% }) %>
</table>
<hr>
<% if (user_admin) { %>
    <a href="/songs/add">+ Ajouter une nouvelle chanson</a> |
    <form method="post" action="/songs?_method=delete">
        <button type="submit">Supprimer tout</button>
    </form>
<% } %>
<% include partials/footer %>