<% include partials/header %>
   <h1><%=song.title%></h1>

<% if(favorite < 0) {%>
<a class="waves-effect waves-light btn" href="/users/favorite/<%=song._id%>">Ajouter aux favoris</a>
<% } else {%>
<a class="btn disabled">Favoris</a>
<% } %>
   <hr/>
   Album  : <%=song.album%><br/>
   Artist : <%=song.artist%><br/>
<% if (song.year) { %>
      Year   : <%=song.year%><br/>
   <% } %>
   <% if (song.bpm) { %>
      BPM   : <%=song.bpm%><br/>
   <% } %>
   <hr>

<%if(typeof rate === 'undefined' || rate === null) {%>
<h3>Notes la chanson !</h3>
   <form class="row" method="post" action="/rates/<%= song.id%>">
      <select class="col s6" id="rate" name="rate" style="display: block">
         <option value="0">0</option>
         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>
      </select>
      <button class="waves-effect waves-light btn blue darken-3" type="submit">Voter</button>
   </form>


<%} else {%>
   <% for(var stars=0; stars<5; stars++) {%>
      <% if(stars >= rate.rate) { %>
      &#9734;
   <% } else {%>
      &#9733;
   <% } %>
<% } %>

<h5>Vous avez déjà voté :)</h5>
<% } %>
<hr>
   <% if (user_admin) { %>
   <a class="waves-effect waves-light btn" href="/songs/edit/<%=song._id%>">Editer</a>
   <% } %>
   <a class="waves-effect waves-light btn blue darken-3" href="/songs">Toutes les chansons</a>

<% include partials/footer %>