<% include partials/header %>

<h1>
    <%= users.length %> utilisateurs
</h1>

<table class="highlight striped ">
    <thead>
    <th>Pseudo</th>
    <th>Date d'Arrivée</th>
    <th>Email</th>

    </thead>
    <% if(users.length>0) {users.forEach(function(user) {%>
    <tr>
        <td>
            <a href="/users/<%=user._id%>"><%= user.displayName%></a>
        </td>
        <td><%=user.createdAt%></td>
        <td><%=user.email%></td>
    </tr>
    <% })} %>
</table>


<% if (user_admin) { %>
<hr>
<a class="waves-effect waves-light btn blue darken-3" href="/relationships">Gérer les relations</a>
<% } %>
<% include partials/footer %>